option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  
  # Configure SSL listener
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-central-1:575108917359:certificate/arn:aws:acm:eu-central-1:575108917359:certificate/b1ac457b-cc84-45d7-ad4c-870bd4076a78
    Rules: /derakht/*
  
  # Configure health check
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 80
    Protocol: HTTP
  
  # Default listener
  aws:elbv2:listener:default:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
    Rules: /derakht/*